In [1]:
import os
os.listdir()

['.ipynb_checkpoints',
 'prediction model.ipynb',
 'student-mat(test).xlsx',
 'student-mat(train).xlsx']

In [2]:
import pandas as pd
mathTrain = pd.read_excel('student-mat(train).xlsx',index_col =None)
print(mathTrain)

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
0       GP   F   18       U     GT3       A     4     4   at_home   teacher
1       GP   F   17       U     GT3       T     1     1   at_home     other
2       GP   F   15       U     LE3       T     1     1   at_home     other
3       GP   F   15       U     GT3       T     4     2    health  services
4       GP   F   16       U     GT3       T     3     3     other     other
..     ...  ..  ...     ...     ...     ...   ...   ...       ...       ...
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     ... famrel freetime  goout  Dalc  Walc health absences  G1  G2  G3
0    ...      4        3      4     1     1      3        6   5   6   6
1    ...      5        3      3     1     1      3        4   5   5   6
2    ...      4        3      2     2     3      3       10   7   8  10
3    ...      3        2      2     1     1      5        2  15  14  15
4    ...      4        3      2     1     2      5        4   6  10  10
..   ...    ...      ...    ...   ...   ...    ...      ...  ..  ..  ..
390  ...      5        5      4     4     5      4       11   9   9   9
391  ...      2        4      5     3     4      2        3  14  16  16
392  ...      5        5      3     3     3      3        3  10   8   7
393  ...      4        4      1     3     4      5        0  11  12  10
394  ...      3        2      3     3     3      5        5   8   9   9

[395 rows x 33 columns]

In [3]:
mathtypes={"GP":0,"MS":1,
           "F":0,"M":1,
           "U":0,"R":1,
           "LE3":0,"GT3":1,
          "T":0,"A":1,
          "teacher":0,"health":1,"services":2,"at_home":3,"other":4,
          "home":0,"reputation":1,"course":2,"other":3,
          "mother":0,"father":1,"other":2,
          "yes":0,"no":1}
mathNew=mathTrain.replace(mathtypes)

In [4]:
determiners=["school","sex","age","address","famsize","Pstatus","Medu","Fedu","Mjob","Fjob","reason","guardian","traveltime","studytime","failures","schoolsup","famsup","paid","activities","nursery","higher","internet","romantic","famrel","freetime","goout","Dalc","Walc","health","absences","G1","G2"]
x=mathNew[determiners]
y=mathNew.G3
x.head()
y.head()

0     6
1     6
2    10
3    15
4    10
Name: G3, dtype: int64

In [5]:
#regression
from sklearn import *
model = tree.DecisionTreeRegressor(random_state=2020)

In [6]:
Xtrain,Xvalid,ytrain,yvalid=model_selection.train_test_split(x,y,test_size=0.3)
print(" X training split: ", len(Xtrain), ";X test split: ", len(Xvalid),
     " y training split: ", len(Xtrain), ";y test split: ", len(Xvalid))
model.fit(Xtrain, ytrain)
model.score(Xvalid, yvalid)

 X training split:  276 ;X test split:  119  y training split:  276 ;y test split:  119

0.7726947556289778

In [11]:
#prediction
mathTest = pd.read_excel('student-mat(test).xlsx',index_col =None)
mathtypes={"GP":0,"MS":1,
           "F":0,"M":1,
           "U":0,"R":1,
           "LE3":0,"GT3":1,
          "T":0,"A":1,
          "teacher":0,"health":1,"services":2,"at_home":3,"other":4,
          "home":0,"reputation":1,"course":2,"other":3,
          "mother":0,"father":1,"other":2,
          "yes":0,"no":1}
mathTester = mathTest.replace(mathtypes)
del mathTester['G3']

In [12]:
mathTester.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2
0,0,0,18,0,1,1,4,4,3,0,...,1,4,3,4,1,1,3,6,5,6
1,0,0,17,0,1,0,1,1,3,2,...,1,5,3,3,1,1,3,4,5,5
2,0,0,15,0,0,0,1,1,3,2,...,1,4,3,2,2,3,3,10,7,8
3,0,0,15,0,1,0,4,2,1,2,...,0,3,2,2,1,1,5,2,15,14
4,0,0,16,0,1,0,3,3,2,2,...,1,4,3,2,1,2,5,4,6,10

In [13]:
yPredictions = model.predict(mathTester) #TODO TODO TODO TODO TODO TODO TODO TODO
print("Predictions:", yPredictions, len(yPredictions))

Predictions: [ 6.  6. 10. 14. 10. 15. 11.  6. 19. 15.  9. 12. 14. 10. 18. 15. 14. 10.
  5. 10. 15. 15. 16. 13.  8.  8. 11. 16. 11. 11. 11. 17. 16. 12. 15.  0.
 18. 15. 11. 13. 11. 12. 18. 11.  9.  8. 11. 20. 14.  7. 13. 13. 10. 12.
 13. 10. 15. 14.  9. 16. 11. 11.  9.  8. 10. 16. 12.  6.  8. 16. 15. 10.
  5. 14. 11. 10. 10. 11.  9.  5. 12. 11.  6. 15. 10.  8.  6. 14. 10.  7.
  8. 18.  6. 10. 14. 10. 15. 10. 14.  8.  5. 17. 14.  6. 19.  9.  8. 18.
 13. 16. 19. 10. 13. 19.  9. 16. 14. 14.  9. 13. 15. 14. 13. 11.  0. 13.
 11.  9.  0. 18.  0.  0. 12. 11.  0.  0.  0.  0. 14. 16.  0.  9. 11. 13.
  0. 10.  0. 11.  0. 10.  0. 13. 10.  0. 12.  8. 13. 10. 15. 11.  0.  7.
  0. 10.  7. 12. 10. 16.  0. 14.  0. 16. 11.  0.  9.  9. 11.  6.  8. 10.
  8. 12. 17. 10. 12. 11. 11. 15.  9. 10. 13.  9. 10. 10. 14. 15. 15. 10.
 18. 10. 18. 10. 10.  6. 11.  9.  6. 13. 10.  7.  8. 13. 14.  8. 10. 15.
  4.  5.  8. 10.  6.  0. 17. 12. 14.  7. 15. 12.  9. 12. 12. 10.  9. 13.
  6. 10. 13. 12. 11.  0. 11. 12.  0. 12.  0. 18. 13.  9.  5. 15.  8. 11.
  8.  8. 11.  8. 11.  9. 14.  0. 18.  8. 12.  9. 10. 17.  9. 11. 10.  0.
  9. 14. 10. 14. 12. 12.  9.  9.  8. 10.  8. 10. 12. 10.  9. 11. 19. 12.
 14. 15. 11. 16. 13. 18. 13. 11.  0.  8. 14. 16. 11. 12. 11. 18. 14. 12.
 18.  8. 12. 10.  0. 13. 11. 11. 13. 11.  8.  9. 11. 11. 13.  9. 11. 15.
 15. 11. 16. 10.  9. 14.  8. 14.  0.  0.  0. 15. 13.  0. 15. 10. 11. 11.
 15.  0. 11. 14. 16. 11. 15. 13.  9. 13.  9.  8. 11.  9. 13. 13. 10. 16.
 13. 12. 10. 15. 11. 10. 13.  0. 10. 11.  9. 12. 11.  5. 19. 10. 15. 10.
 15. 10. 14.  5. 10.  0.  5. 10.  5.  0.  8.  0.  9. 16.  7. 11.  9.] 395

In [26]:
answerSheet = mathTest["G3"].values.tolist()
noCorrect =0

for x in range(len(answerSheet)):
    if yPredictions[x] == answerSheet[x]:
        noCorrect+=1
    
print("You predicted " + str(noCorrect) + "/" + str(len(answerSheet)) + " correctly")
print("That is " + str((noCorrect/len(answerSheet))*100) + "% accuracy")

You predicted 327/395 correctly
That is 82.78481012658227% accuracy